* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    user-select: none;
}

#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #110f1b;
    display: grid;
    place-items: center;
}

#screen {
    position: relative;
    width: 85%;
    aspect-ratio: 16 / 9;
    background-color: #101011;
    border-radius: 30px;
    border: 0.5px #fff solid;
    overflow: hidden;
}

#input {
    position: absolute;
    top: 35px;
    left: 35px;
    padding: 30px;
    background-color: #1f1f26;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    color: #fff;
    z-index: 10;
}

#entry-auto {
    margin-bottom: 15px;
    padding: 5px 3px;
}

#nodes {
    height: 100%;
    z-index: 5;
}

.gnode {
    width: 70px;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    border: 0.5px solid #fff;
    color: #fff;
    display: grid;
    place-items: center;
    cursor: pointer;
    font-size: 24px;
}